@{
    ViewData["Title"] = "Home Page";
}
<body>
    <div>
        @if (User.Identity.IsAuthenticated)
        {
            <a asp-controller="Account" asp-action="Profile">@User.Identity.Name</a>
            <form method="post" asp-controller="Account" asp-action="Logout">
                <input type="submit" value="Выход" />
            </form>
        }
        else
        {
            <a asp-controller="Account" asp-action="Login">Вход</a>
            <a asp-controller="Account" asp-action="Register">Регистрация</a>
        }
    </div>
</body>
